@import url('https://fonts.googleapis.com/css?family=Roboto');
*{
  margin: 0;
  padding: 0;
}

nav{
  background-color: #FF1744;
  text-align: center;
}
nav ul li {
  display: inline-block;
  list-style: none;
}
nav ul li a{
  display: inline-block;
  padding: 15px 20px;
  text-decoration: none;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
}
.active{
  background-color: blueviolet;
}

h1{
  background-color: #FF1744;
  text-align: center;

  text-decoration: none;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
}
.inicio{
  background-color: rgb(255, 255, 255);
  width: fit-content;
  margin: auto;
  padding: 15px;
}
.inicio footer{
  background-color: rgb(255, 255, 255);
  width: fit-content;
  margin: 15px;
  padding: 15px;
  border: solid;
  border-color: black;
}
.inicio div{
  background-color: rgb(255, 255, 255);
  width: fit-content;
  margin: 15px;
  padding: 15px;
  border: solid;
  border-color: black;
}
.inicio div footer{
  width: 310px;
  height: 200px;
  background-color: rgb(255, 255, 255);
  margin: 10px;
  display: inline-block;
  border: solid;
  border-color: black;
  vertical-align: top;
}
.inicio aside{
  background-color: rgb(255, 255, 255);
  width: fit-content;
  margin: 15px;
  padding: 15px;
  border: solid;
  border-color: black;
}
.inicio aside footer{
  width: 310px;
  height: 200px;
  background-color: rgb(255, 255, 255);
  margin: 10px;
  display: inline-block;
  border: solid;
  border-color: black;
  vertical-align: top;
}
.inicio footer footer{
  width: 310px;
  height: 200px;
  background-color: rgb(255, 255, 255);
  margin: 10px;
  display: inline-block;
  border: solid;
  border-color: black;
  vertical-align: top;

}
.inicio footer footer section{
  width: 52px;
  height: 200px;
  background-color: red;
  display: inline-block;
  margin: auto;
}
.inicio footer footer nav{
  width: 162px;
  height: 200px;
  background-color: rgb(255, 255, 255);
  display: inline-block;
  margin: auto;
}
.inicio footer footer nav img{
  width: 100px;
  height: 100px;
  margin: 43px 10px;
  padding: 0px;
}

.inicio footer footer section{
  width: 70px;
  height: 200px;
  background-color: red;
  display: inline-block;
  margin: auto;
}
.inicio footer footer azul{
  width: 310px;
  height: 32px;
  background-color: rgb(0, 4, 255);
  display: inline-block;
  margin: auto;
}
.inicio footer footer blanco{
  width: 310px;
  height: 32px;
  background-color: rgb(255, 255, 255);
  display: inline-block;
  margin: auto;
}
.inicio footer footer rojo{
  width: 310px;
  height: 50px;
  background-color: rgb(212, 0, 0);
  display: inline-block;
  margin: auto;
}
.inicio footer footer rojo nav{
  width: 48px;
  height: 48px;
  margin: 2px 51px;
  padding-right: 0px;
  background-color: white;
  border-radius: 50%;
}
.inicio footer footer rojo nav img{
  width: 40px;
  height: 40px;
  padding-left: 0px;
  margin: 2px;
}
.inicio div footer cuadro{
  display: inline-block;
  background-color: rgb(255, 255, 255);
  width: fit-content;
  margin: 0px;
  padding: 0px;
  border: solid;
  border-color: rgb(119, 119, 119);
}
.inicio div footer article{
  display: inline-block;
  background-color: rgb(255, 255, 255);
  width: fit-content;
  margin: 0px;
  padding: 0px;
  border: solid;
  border-color: rgb(119, 119, 119);
}
.inicio div footer cuadro nav{
  width: 306px;
  height: 62px;
  margin: 0px;
  padding: 0px;
  background-color: rgb(172, 0, 0);
}

.inicio div footer cuadro section{
  width: 300px;
  height: 62px;
  margin: 0px;
  padding: 0px;
  background-color: rgb(255, 255, 255);
}
.inicio div footer cuadro aside{
  width: 300px;
  height: 62px;
  margin: 0px;
  padding: 0px;
  background-color: black;
}
.inicio div footer cuadro section img{
  display: inline-block;
  width: 60px;
  height: 60px;
  margin: 0px 114px;
  padding: 0px;
}
.inicio div footer article rojo{
  display: inline-block;
  width: 300px;
  height: 55px;
  margin: -1px auto;
  padding: 2px;
  background-color: red;
}
.inicio div footer article amarillo{
  display: inline-block;
  width: 300px;
  height: 80px;
  margin: -2px auto;
  padding: 2px;
  background-color: yellow;
}
.inicio div footer article amarillo img{
  width: 70px;
  height: 70px;
  margin: 0px 107px;
  padding: 0px 0px;
}
.inicio aside footer cuadro{
  display: inline-block;
  background-color: rgb(255, 255, 255);
  width: fit-content;
  margin: 0px;
  padding: 0px;
  border: solid;
  border-color: rgb(119, 119, 119);
}
.inicio aside footer cuadro blanco{
  display: inline-block;
  width: 150px;
  height: 90px;
  margin: 0px 0px;
  padding: 0px 0px;
  background-color: white;
  vertical-align: top;
}
.inicio aside footer cuadro blanco1{
  display: inline-block;
  width: 150px;
  height: 78px;
  margin: 0px 0px;
  padding: 0px 0px;
  background-color: white;
  vertical-align: top;
}
.inicio aside footer cuadro rojo{
  display: inline-block;
  width: 150px;
  height: 90px;
  margin: 0px 0px;
  padding: 0px 0px;
  background-color: red;
  vertical-align: top;
}
.inicio aside footer cuadro azul{
  display: inline-block;
  width: 150px;
  height: 90px;
  margin: 0px 0px;
  padding: 0px 0px;
  background-color: blue;
  vertical-align: top;
}
.inicio aside footer cuadro blanco img{
  display: inline-block;
  width: 75px;
  height: 75px;
  margin: 0px 33px;
  padding: 0px 0px;
}
.inicio aside footer cuadro blanco1 img{
  display: inline-block;
  width: 75px;
  height: 75px;
  margin: 0px 33px;
  padding: 0px 0px;
}
.inicio aside footer cuadro blanco3{
  display: inline-block;
  width: 306px;
  height: 62px;
  margin: 0px;
  padding: 0px;
  background-color: white;
}
.inicio aside footer cuadro azul3{
  display: inline-block;
  width: 306px;
  height: 62px;
  margin: 0px;
  padding: 0px;
  background-color: blue;
}
.inicio aside footer cuadro rojo3{
  display: inline-block;
  width: 306px;
  height: 62px;
  margin: -4px 0px;
  padding: 0px;
  background-color: red;
}