@import url('https://fonts.googleapis.com/css?family=Roboto');
*{
  margin: 0;
  padding: 0;
}

nav{
  background-color: #FF1744;
  text-align: center;
}
nav ul li {
  display: inline-block;
  list-style: none;
}
nav ul li a{
  display: inline-block;
  padding: 15px 20px;
  text-decoration: none;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
}
.active{
  background-color: blueviolet;
}

h1{
  background-color: #FF1744;
  text-align: center;

  text-decoration: none;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
}
.inicio{
  background-color: rgb(255, 255, 255);
  width: fit-content;
  margin: auto;
  padding: 15px;
}
.inicio footer{
  background-color: rgb(255, 255, 255);
  width: fit-content;
  margin: 15px;
  padding: 15px;
  border: solid;
  border-color: black;
}
.inicio footer footer{
  width: 310px;
  height: 200px;
  background-color: rgb(255, 255, 255);
  margin: 10px;
  display: inline-block;
  border: solid;
  border-color: black;
  vertical-align: top;
}
.inicio footer section{
  width: 321px;
  height: 60px;
  background-color: yellow;
  margin: auto;
}
.inicio footer div{
  width: 321px;
  height: 60px;
  background-color: blue;
  margin:auto;
}
.inicio footer aside{
  width: 321px;
  height: 60px;
  background-color: red;
  margin: auto;
}
.inicio footer article{
  width: 321px;
  height: 60px;
  background-color:rgb(0, 225, 255);
  margin: auto;
}
.inicio footer main{
  width: 321px;
  height: 60px;
  background-color: blanchedalmond;
  margin:auto;
}
.inicio footer nav{
  width: 321px;
  height: 60px;
  background-color:rgb(0, 225, 255);
  margin: auto;
}
.inicio div main {
  background-color: rgb(255, 255, 255);
  width: fit-content;
  margin: 15px;
  padding: 15px;
  border: solid;
  border-color: black;
}
.inicio div footer {
  width: 310px;
  height: 200px;
  background-color: rgb(255, 255, 255);
  margin: 10px;
  display: inline-block;
  border: solid;
  border-color: black;
  vertical-align: top;
  }

.inicio footer body{
  width: 321px;
  height: 60px;
  background-color: blanchedalmond;
  margin:auto;
}
  
